<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkbox</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }
        body {
            height: 32px;
            width: 32px;
            overflow: hidden;
        }
        body > * {
            position: absolute;
            height: 32px;
            width: 32px;
        }
    </style>
    <script>
        window.onload = () => {
            const search = new URLSearchParams(window.location.search)
            const race = search.get('race') || 'human'
            const isSilver = search.has('silver')

            if(search.has('silver') ) {
                const img = document.getElementById('cbbg')
                img.setAttribute('src', `../assets/checkbox-background-silver.png`)
            }

            if(search.has('depressed') ) {
                const img = document.createElement('img')
                img.setAttribute('src', `../assets/${race}-checkbox-depressed.png`)
                img.setAttribute('style', 'z-index: 2')
                document.body.appendChild(img)
            }

            if(search.has('checked')) {
                const img = document.createElement('img')
                img.setAttribute('src', `../assets/checkbox-check.png`)
                img.setAttribute('style', 'z-index: 3')
                document.body.appendChild(img)
            }
        }
    </script>
</head>
<body>
<img src="../assets/checkbox-background.png" style="z-index: 1" id="cbbg"/>
</body>
</html>