<!DOCTYPE html>
<html>
<head>
    <style>
        * {
            padding: 0;
            margin: 0;
        }
        body {
            overflow: hidden;
        }
        body {
            display: flex;
        }
        #bg {
            position: absolute;
            top: 32px;
            right: 32px;
            z-index: -100;
            background-repeat: repeat;
            background-position-x: 355px;
        }
    </style>
    <script>
        const query = new URLSearchParams(window.location.search)
        const n = parseInt(query.get('height') || '5')
        const m = parseInt(query.get('width') || '5')
        const race = query.get('race') || 'human'
        window.onload = () => {
            document.body.setAttribute('style', `height: ${n * 128}px; width: ${m * 128}px;`)
            document.getElementById('bg').setAttribute('style', `height: ${n * 128 - 64}px; width: ${m * 128 - 64}px; background-image: url("../assets/${race}-options-menu-background.png")`)
        }
    </script>
</head>
<body>
<div id="bg"></div>
</body>
</html>